services:
  media_proxy:
    container_name: media_proxy
    privileged: true
    hostname: media_proxy
    image: bluenviron/mediamtx:latest-ffmpeg
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
    ports:
        - 8554:8554
        - 1935:1935
        - 8888:8888
        - 8899:8889 # note the external port change because Nginx will handle the original port now
        - 8189:8189/udp
        - 8189:8189/tcp
        - 8890:8890/udp
        - 8890:8890/tcp
        - 8322:8322
    volumes:
      - ./mediamtx.yaml:/mediamtx.yml
      - ./img:/img
    devices:
      - /dev/dri:/dev/dri
    environment:
      MTX_RTSP: yes
      MTX_WEBRTC: yes
      MTX_API: no
      MTX_HLS: no
      MTX_METRICS: no
      MTX_PPROF: no
      MTX_RECORD: no
      MTX_RTMP: no
      MTX_SRT: no
      LIBVA_DRIVER_NAME: radeonsi
  media_proxy_img:
    container_name: media_proxy_img
    hostname: media_proxy_img
    image: nginx
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
    ports:
        - 8889:8889
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./sites-enabled/:/etc/nginx/sites-enabled/:ro
      - ./img/:/img/